/.vs
/.idea
*.user
bin
bin-int
./x64
outgit
status
out
build

.DS_Store

lazygit.exe
Lavendel/vendor/
vendor/
#
fzf.exe
cmake-build-debug

venv
Scripts/.venv
Scripts/__pycache__
Scripts/VulkanSDKInstaller.exe

imgui.ini
LavendelProfile-Runtime.json
LavendelProfile-Startup.json

.cache/
.zed/


cmake/