name: Setup Dependencies

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  setup:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Python dependencies
      run: pip install requests fake_useragent colorama

    - name: Run Setup Script
      env:
        CI: 'true'
      run: python Scripts/Setup.py
