name: Build and Test

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Setup Vulkan SDK
      uses: j-bbr/setup-vulkan-sdk@v1.3.0
      with:
        vulkan-query-version: "1.3.268.0"
        vulkan-components: "Vulkan-Headers, Vulkan-Loader"
        vulkan-install-path: "VULKAN_INSTALL_PATH" # an environment variable will be created with the installation path

    - name: Run Setup Script
      env:
        CI: 'true'
        VULKAN_SDK: ${{ env.VULKAN_INSTALL_PATH }}
      run: python Scripts/Setup.py
      
    - name: Configure CMake
      env:
        VULKAN_SDK: ${{ env.VULKAN_INSTALL_PATH }}
      run: cmake . -B build

    - name: Build Project
      run: cmake --build build --config Release
